root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json,arb}]
indent_size = 2

[*.{dart,gradle,kts,kt}]
indent_size = 2

[*.sh]
indent_size = 2

[*.bat]
end_of_line = crlf
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
